[Unit]
Description=Battery Notification

[Service]
Type=oneshot
ExecStart=/home/noah/src/scripts/crontab/bat.sh

[Install]
WantedBy=multi-user.target
